:root {
  --cor-primaria: #71c9ce;
  --cor-secundaria: #a6e3e9;
  --cor-destaque: #ffb6b9;
  --cor-texto: #333;
  --fonte-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
.logo-bar {
    background-color: white;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.logo-bar .logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  top: 0;
}
  

  .login-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .login-container h1 {
    margin-bottom: 20px;
    color: black;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  button {
    width: 107%;
    padding: 10px;
    background-color: var(--cor-secundaria);
    color: black;
    border: none;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--cor-primaria);
  }
  
  .erro {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  

  .ver-senha-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 2em 0;
    font-size: 14px;
    color: #333;
    padding-left: 5px;
  }
  
  .ver-senha-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #00bcd4; /* cor do checkbox */
  }
  
  .texto_verSenha {
    cursor: pointer;
  }

  .texto_verSenha{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1em;
  }